DATABASE_URL=postgresql://user:password@localhost:5432/dbname
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
QDRANT_HOST=localhost
QDRANT_PORT=6333
EMBEDDING_SERVICE_URL=http://localhost:8001
GEMINI_API_KEY=
GEMINI_MODEL=
UPLOAD_DIR=../storage/uploads
